.login{
    width: 50%;
    padding: 5%;
    border-radius: 25px;
    border-color: rgb(199, 199, 199);
    box-shadow: 0px 0px 38px -2px rgba(0,0,0,0.46);
}
.centrarbtn{
    text-align: center;
    padding-bottom: 35px;
}
.centrartxt{
    text-align: center;
}